* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    font-family:sans-serif;
    margin: 30px;
    text-align: center;
}

.chicken {
    font-family:sans-serif;
    margin: 0px;
    text-align: center;
    border-left: 1px solid black;
    border-bottom: 1x solid black;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    background-color: lightpink;
}

.beef {
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    text-align: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    background-color: red;
}

.sushi {
    font-family: 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    text-align: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    background-color: lightyellow;
}

.ch {
    float: left;
    border: 1px solid black;
    position: relative;
    background-color: gray;
    margin: 10px;
    
}

.be {
    float: left;
    border: 1px solid black;
    position: relative;
    background-color: gray;
    margin: 10px;
}

.su {
    float: left;
    border: 1px solid black;
    position: relative;
    background-color: gray;
    margin: 10px;
}

p {
    padding-top: 30px;
    margin: 20px;
    position: relative;
    font-family:Verdana, sans-serif;
}

@media (min-width: 992px) {
    .ch {
        width: 30%;
    }
    .be {
        width: 30%;
    }
    .su {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ch {
        width: 45%;
    }
    .be {
        width: 45%;
    }
    .su {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .ch {
        width: 90%;
    }
    .be {
        width: 90%;
    }
    .su {
        width: 90%;
    }
}
